body {
  padding: 25px;
  font-family: serif;
}

p {
  margin: 0;
  line-height: 1.4;
}

.item {
  margin-top: 15px;
}

.summary {
  display: inline-block;
  padding: 6px 12px;
  text-align: left;
  background-color: transparent;
  border: 1px solid #000;
}

.details {
  overflow: hidden;
  transition: height 0.5s;
}

.details[aria-hidden='true'] {
  height: 0;
  visibility: hidden;
  transition: height 0.5s, visibility 0s 0.5s;
}

.contents {
  padding: 25px;
  background-color: #eee;
  border: 1px solid #000;
}

.contents img {
  max-width: 100%;
}

.close-button {
  display: block;
  padding: 6px 12px;
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid #000;
}
