* {
  padding: 0;
  margin: 0;
}

html {
  padding: 25px;
  font-family: serif;
}

button:not(:disabled):not([aria-disabled='true']) {
  cursor: pointer;
}

.disclosure {
  margin-top: 15px;
}

.summary {
  display: inline-block;
  padding: 6px 12px;
  touch-action: manipulation;
  border: 1px solid #000;
}

.details {
  overflow: hidden;
  transition: height 0.5s;
  contain: content;
}

.details[aria-hidden='true'] {
  height: 0;
  visibility: hidden;
  transition: height 0.5s, visibility 0.5s 0.5s;
}

.content {
  padding: 25px;
  background-color: #eee;
  border: 1px solid #000;
}

.close {
  padding: 6px 12px;
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid #000;
}
