body {
  padding: 25px;
  font-family: serif;
}

p {
  margin: 0;
  line-height: 1.4;
}

.item {
  margin-top: 15px;
}

.summary {
  display: inline-block;
  padding: 6px 12px;
  text-align: left;
  background-color: transparent;
  border: 1px solid #000;
}

.details:not([aria-hidden='false']) {
  height: 0;
  overflow: hidden;
}

.contents {
  padding: 25px;
  background-color: #eee;
  border: 1px solid #000;
}

.contents img {
  max-width: 100%;
}

.close-button {
  display: block;
  padding: 6px 12px;
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid #000;
}
